.container,
.list {
    display: flex;
    flex-direction: column;
    gap: var(--size-400);
}

.title,
.list li::marker {
    color: var(--clr-primary-dark-raspberry);
}

.container {
    background-color: var(--clr-primary-dark-raspberry-transparent);
    padding: var(--size-500);
    border-radius: var(--size-200);
}

.title {
    font-size: var(--size-450);
}

.list {
    list-style-position: outside;
    padding-left: var(--size-500);
}

.listItemContent {
    position: relative;
    left: var(--size-200);
    color: var(--clr-neutral-wenge-brown);
}

.listItemContent > span {
    font-weight: var(--fw-bold);
}
