.main {
    display: flex;
    flex-direction: column;
    gap: var(--size-600);
    padding: var(--size-600);
    background-color: var(--clr-neutral-white);
}

@media screen and (min-width: 768px) {
    .main {
        padding: var(--size-900);
        border-radius: 0 0 var(--size-500) var(--size-500);
        padding-top: var(--size-600);
    }
}
